@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
}

section {
    margin: 20px 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

nav>ul li {
    list-style: none;
    margin: 0px 20px;
}

nav>ul>li>a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

h1 {
    color: #131313;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    padding: 5px;
}

h2 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

p {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 5px;
}

.primary-btn {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    padding: 20px 25px;
    margin: 5px;
}

.container {
    width: 75%;
    margin: auto;
    padding: 30px 0px;
}

.banner-container-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-container-img {
    width: 100%;
    height: 700px;
    border-radius: 8px;
    padding: 5px;
}

/* features section */

.features-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.features-title {
    border-left: 5px solid #FF900E;
}

.features-img {
    height: 700px;
}

.feature-btn {
    border: 0;
    border-radius: 8px;
    background: #FF900E;
    padding: 10px;
    position: relative;
    bottom: 100px;
    left: -100px;
}

.feature-year {
    color: #FFF;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    line-height: 70px;
}

.feature-exp {
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
}

/* quuick list features */
.quick-list-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 5px;
}

.quick-list-container-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.quick-list-container-description {
    margin: 0px 20px;
    padding-left: 20px;
}

/* facts section */
.facts-boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 90%;
    margin: 20px auto;
}

.box {
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sponsors adde */
.sponsors-description {
    text-align: center;
}

.sponsors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5x;
    width: 85%;
    margin: 20px auto;
}

footer {
    width: 75%;
    background-color: rgba(255, 144, 14, 0.10);
    text-align: center;
    margin: 20px auto;
}







/* using media queries */
@media screen and (max-width:576px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    nav>ul {
        display: flex;
        flex-direction: column;

    }

    h1 {
        font-size: 50px;
    }

    .banner-container-img {
        height: 250px;
    }

    .container {
        width: 80%;
    }

    .quick-list-container {
        display: flex;
        flex-direction: column-reverse;
        margin: 20px 5px;
    }

    .quick-list-container-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }

    .facts-boxes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .sponsors {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15x;
    }

    .features-section {
        display: flex;
        flex-direction: column;
    }

    .feature-btn {
        padding: 10px;
        position: relative;
        bottom: 100px;
        left: 50px;
    }

}

@media screen and (min-width:576px)and (max-width:992px) {
    .quick-list-container {
        display: flex;
        flex-direction: column-reverse;
        margin: 20px 5px;
    }

    .facts-boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .sponsors {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15x;
    }

    .features-section {
        display: flex;
        flex-direction: column;
    }

    .feature-btn {
        padding: 10px;
        position: relative;
        bottom: 100px;
        left: 50px;
    }
}